include ./mixins/_index

doctype html
html(lang="en")
    head
        +meta-data("Khaled Mohamed")
        
        +meta-desc("Just a description!")

        +meta-words("HTML, CSS, JS, TailwindCSS, PugJS, Front End Challenge, Front End Mentor")

        link(rel="shortcut icon", href="./public/assets/favicons/favicon.ico", type="image/x-icon")
        link(rel="manifest", href="./public/assets/favicons/site.webmanifest")

        +space()

        title Recipe Page Main

        +space()

        link(rel="stylesheet", href="./public/css/styles.css")
    body 
        +no-script()