include ./mixins/_index

doctype html
html(lang="en")
    head
        +meta-data("Khaled Mohamed")
        
        +meta-desc("Just a description!")

        +meta-words("HTML, CSS, JS, TailwindCSS, PugJS, Front End Challenge, Front End Mentor")

        title Recipe Page Main

        +space()

        link(rel="stylesheet", href="./src/styles.css")
    body 
        +no-script()